doctype html
html
  head
    title= Bootstrap可视化布局系统
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/layoutit.css')
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/jquery-ui.min.js")
    script(src="/javascripts/jquery.ui.touch-punch.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/jquery.htmlClean.js")
    script(src="/javascripts/scripts.min.js")
  body.edit
    block content
